<div id="seccion-compartir" style="padding: 16px; border-top: 1px solid #ddd;">
    <h3 class="mdc-typography--subtitle2" style="margin-bottom: 12px; color: #666;">COMPARTIR ESTA VISTA</h3>
    <div style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 10px;">
      
        <button onclick="window.SocialManager.share('whatsapp')" class="btn-share" title="WhatsApp">
            <i class="material-icons">message</i><span class="label-share">WhatsApp</span>
        </button>
        
        <button onclick="window.SocialManager.share('telegram')" class="btn-share" title="Telegram">
            <i class="material-icons">send</i><span class="label-share">Telegram</span>
        </button>

        <button onclick="window.SocialManager.share('bluesky')" class="btn-share" title="BlueSky">
            <i class="material-icons">cloud</i><span class="label-share">BlueSky</span>
        </button>

        <button onclick="window.SocialManager.share('twitter')" class="btn-share" title="X (Twitter)">
            <i class="material-icons">close</i><span class="label-share">X / Twitter</span>
        </button>

        <button onclick="window.SocialManager.share('facebook')" class="btn-share" title="Facebook">
            <i class="material-icons">facebook</i><span class="label-share">Facebook</span>
        </button>

        <button onclick="window.SocialManager.share('copy')" class="btn-share" title="Copiar Link">
            <i class="material-icons">content_copy</i><span class="label-share">Copiar</span>
        </button>
    </div>
</div>
