


<template id="tpl-layout-contenedor">
  <div class="dashboard-componente"> 
    <div class="componente-header">
      <h3 class="componente-titulo"></h3>
      <div class="componente-acciones"></div> 
      <div class="componente-intro texto-explicativo"></div> 
    </div>
    
    <div class="componente-body">
      </div>

    <div class="componente-footer">
      <div class="componente-notas texto-advertencia"></div>
    </div>
  </div>
</template>



<template id="tpl-layout-fila">
  <div class="dashboard-fila"></div>
</template>
