<template id="tpl-grafico-contenedor">
    <div class="contenedor-grafico">
        <div class="header-tools"></div>
        <div class="grafico-header">
            <h3 class="grafico-titulo mdc-typography--headline6"></h3>
        </div>
        
        <div class="grafico-body" style="position: relative;">
            <div class="grafico-centro-abs">
                <div class="kpi-valor"></div>
                <div class="kpi-etiqueta"></div>
            </div>
        </div>

        <div class="grafico-footer">
            <div class="grafico-valor-principal"></div>
            <div class="grafico-maximo"></div>
            <div class="grafico-subtitulo"></div>
        </div>
    </div>
</template>


<template id="tpl-btn-fullscreen">
    <button class="btn-fullscreen-toggle" title="Pantalla completa" style="border: none; background: transparent; cursor: pointer;">
        <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
            <path d="M15 3h6v6M9 21H3v-6M21 3l-7 7M3 21l7-7" />
        </svg>
    </button>
</template>
