<div id="contenedor-debug-siluetas"></div>
<div id="panel-dashboard" class="tab-panel tab-panel--active">
  <div id="panel-dashboard-contenido">
  </div>
</div>

<template id="tpl-odometro-contenedor">
  <div class="odometer-container">
      </div>
</template>
