<div id="panel-mapa" class="tab-panel">

  <template id="tooltip-mapa-template">
      <div class="map-tooltip-content">
          <header class="tooltip-header">
              <strong class="tooltip-nombre"></strong>
          </header>
          <div class="tooltip-body">
              <span class="tooltip-indicador"></span>
              <b class="tooltip-valor"></b>
          </div>
      </div>
  </template>




    <div id="map-legend" class="legend-container">
        <div id="legend-title" class="legend-title">Cargando indicador...</div>
        <div id="legend-scale"></div>
    </div>
    
  <div id="mapa-contenedor"></div>
</div>
