<div class="mdc-tab-bar dashboard-tabs" role="tablist">
  <div class="mdc-tab-scroller">
    <div class="mdc-tab-scroller__scroll-area">
      <div class="mdc-tab-scroller__scroll-content">
        
        <button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" id="tab-dashboard">
          <span class="mdc-tab__content">
            <span class="mdc-tab__icon material-icons">home</span>
            <span class="mdc-tab__text-label">Inicio</span>
          </span>
          <span class="mdc-tab-indicator mdc-tab-indicator--active">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
        </button>
        
        <button class="mdc-tab" role="tab" id="tab-mapa">
          <span class="mdc-tab__content">
            <span class="mdc-tab__icon material-icons">map</span>
            <span class="mdc-tab__text-label">Mapa</span>
          </span>
          <span class="mdc-tab-indicator">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
        </button>

        <button class="mdc-tab" role="tab" id="tab-graficos">
          <span class="mdc-tab__content">
            <span class="mdc-tab__icon material-icons">bar_chart</span>
            <span class="mdc-tab__text-label">Gráficos</span>
          </span>
          <span class="mdc-tab-indicator">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
        </button>

        <button class="mdc-tab" role="tab" id="tab-datos">
          <span class="mdc-tab__content">
            <span class="mdc-tab__icon material-icons">table_chart</span>
            <span class="mdc-tab__text-label">Datos</span>
          </span>
          <span class="mdc-tab-indicator">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
        </button>
        
      </div>
    </div>
  </div>
</div>
